<section class="w-screen bg-white flex h-64" >
  
  <img src="{{post[0].thumbnailUrl}}" alt="" class="w-80 object-cover border-2 border-white"> 
  <img src="{{post[4].thumbnailUrl}}" alt="" class="w-64 object-cover border-2 border-white"> 
  <img src="{{post[3].thumbnailUrl}}" alt="" class="w-74 object-cover border-2 border-white"> 
  <img src="{{post[1].thumbnailUrl}}" alt="" class="w-80 object-cover border-2 border-white"> 
  <img src="{{post[2].thumbnailUrl}}" alt="" class="w-64 object-cover border-2 border-white"> 
  <img src="{{post[0].thumbnailUrl}}" alt="" class="w-80 object-cover border-2 border-white"> 
  <img src="{{post[4].thumbnailUrl}}" alt="" class="w-64 object-cover border-2 border-white"> 
  <img src="{{post[3].thumbnailUrl}}" alt="" class="w-74 object-cover border-2 border-white"> 
  <img src="{{post[1].thumbnailUrl}}" alt="" class="w-80 object-cover border-2 border-white"> 
  <img src="{{post[2].thumbnailUrl}}" alt="" class="w-64 object-cover border-2 border-white"> 

</section>
