<main class="flex justify-center">
  <form
    [formGroup]="addRecipe"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-2 gap-4 grid-row-4 text-white border-4 m-5 border-white"
    style="width: 80%"
  >
    <section
      class="col-start-1 col-end-3 row-span-1 text-center items-center p-5"
    >
      <label for="" class="mt-10 text-xl">Titel: </label>
      <input
        type="text"
        formControlName="title"
        
        class="p-1 border-1 border-white bg-gree-500 text-3xl w-3/5"
      />
    </section>

    <section class="col-span-1 row-start-2 flex flex-col p-5">
      <label class="text-xl mb-1 text-center"> Lägg till en beskrivning: </label>
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        formControlName="aboutRecipe"
      ></textarea>
    </section>

    <section class="col-span-1 row-start-2 p-5">
      <div class="p-2 mb-5">
        <span class="text-xl"> läg till 1 bild: </span>
        <input
          type="text"
          formControlName="thumbnailUrl"
          placeholder="ladda upp en URL länk"
          class="w-3/5 p-1 text-slate-500"
        />
      </div>

      <div class="flex flex-col p-5 gap-5 border-2 border-white border-solid">
        <span class="text-m"> Kategori</span>
        <select name="" id="" formControlName="category">
          <option value=""></option>
          <option
            class="text-xl"
            *ngFor="let item of category; let i = index"
            value="{{ item }}"
          >
            {{ item }}
          </option>
        </select>
        <span class="text-m"> sub Kategori</span>
        <select
          name=""
          formControlName="subCategory"
          *ngIf="category[0]"
          class="text-xl"
        >
          <option *ngFor="let item of matCategory" value="{{ item }}">
            {{ item }}
          </option>
          <option *ngFor="let item of bakCategory" value="{{ item }}">
            {{ item }}
          </option>
        </select>
      </div>
    </section>

    <section class="row-start-3 col-start-1 col-end-3 text-center">
      <app-button
        class="col-span-2"
        type="button"
        (onclick)="addItem(this.listOfIngredients, this.newIngredient())"
      >
        lägg till fler ingredienser
      </app-button>
      <div class="col-span-2 ">
        <div formArrayName="ingredientsList" class="flex flex-wrap">
          <div *ngFor="let item of listOfIngredients.controls; let i = index">
            <div [formGroupName]="i">
              <div class="flex flex-col p-2 ">
                ingrediens {{ indexet(i) }}: <br />
                mängd och mått enhet:
                <input type="text" formControlName="measure" /> ingrediens :
                <input type="text" formControlName="ingredient" />
                <app-button (onclick)="removeItem(this.listOfIngredients, i)">
                  remove
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="row-start-4 col-start-1 col-end-3 text-center">
      <app-button
        type="button"
        (click)="addItem(this.listOfCooking, this.newCooking())"
        >lägg till instruktion</app-button
      >
      <div class="col-span-2">
        <div formArrayName="cooking">
          <div *ngFor="let item of listOfCooking.controls; let i = index">
            <div [formGroupName]="i">
              steg {{ indexet(i) }}

              <input type="text" formControlName="steps" class="w-3/5" />

              <app-button 
              (click)="removeItem(this.listOfCooking, i)"
              >
                remove
                </app-button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <app-button class="row-start-5 col-start-1 col-end-3 text-center"
      >Add new recipe</app-button
    >
  </form>
</main>
