<main class="bg-slate-50">
    <section class="bg-green-200 flex flex-col">
        <label for=""> Add a title</label>
        <input  type="text" #title>
        <label for=""> Add recipe description</label>
        <input #recipeDescription/>
        <label for=""> Add ingredients</label>
        <input type="text" #ingredients> <button>add ingredients</button>
        <label for=""> Add a cooking description step by step</label>
        <input type="text" #description> <button>add description</button>
        <button>Add new recipe</button>
    </section>
</main>