<main class="bg-white flex justify-center" >
    <form (formGroup)="addReciepe" class="bg-blue-100 flex flex-col items-center mt-10" style="width: 650px; height: 650px;">
        
        <label for="" class="mt-10"> Add a title</label>
        <input  type="text" #title>
        <label for=""> Add recipe description</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <label for=""> Add ingredients</label>
        <input type="text" #ingredients> <button>add ingredients</button>
        <label for=""> Add a cooking description step by step</label>
        <input type="text" #description> <button>add description</button>
        <select name="" id=""><option  *ngFor="let item of category"value="">{{item}}</option></select>
        
        <div ><select name=""><option *ngFor="let item of bakCategory" value="">{{item}}</option></select></div>
        <select name="" id=""  ><option *ngFor="let item of matCategory"value="">{{item}}</option></select>
        
        <button>Add new recipe</button>
    </form>
   
</main>