<header class="bg-emerald-700 flex space-x-6">
  
   <h1 class="text-3xl p-5">{{title}}</h1>
    <nav class="navbar">
    <ul class="flex space-x-3.5 ">
        <li class="text-xl p-5 cursor-pointer" routerLink="">Home</li>
        <li class="text-xl  p-5 cursor-pointer" routerLink="/about">About</li>
        <li class="text-xl  p-5 cursor-pointer" routerLink="/blogs">Blogs</li>  
        <li *ngIf="hide == true" class="text-xl  p-5 cursor-pointer" routerLink="/addpost">Add Post</li>  
    </ul>
</nav>
<button (click)="changeToAdmin()" *ngIf="hide == false; else userPage"> 
    <span>Admin page</span> 
     <mat-icon>receipt</mat-icon></button>
     
       <ng-template #userPage> <button (click)="changeToAdmin()" >User page <mat-icon>receipt</mat-icon></button></ng-template> 
        
        
         
</header>
 