<main *ngIf="post" class="flex flex-col justify-center items-center">
  <section
    class="flex flex-col justify-center items-center bg-white p-5"
    style="width: 650px"
  >
    <h2 class="text-3xl p-4 mt-4">{{ post.title }}</h2>
    <img class="" src="{{ post.thumbnailUrl }}" alt="" width="500px" />
    <p class="text-center">{{ post.aboutRecipe }}</p>
    <div class="m-5">
      <span class="pb-4">Ingredienser: </span>
      <ul *ngFor="let item of post.ingredientsList">
        <li *ngIf="item.measure; else justItem">
          {{ item?.measure }} {{ item?.ingredient }}
        </li>
        <ng-template #justItem>
          <li>{{ item }}</li>
        </ng-template>
      </ul>
    </div>

    <ul class="text-center" *ngFor="let item of post.cooking; let i = index">
      <li *ngIf="item.measure; else justSteps">{{ item?.steps }}</li>
      <ng-template #justSteps>
        <li>{{ indexet(i) }}. {{ item }}</li>
      </ng-template>
    </ul>
    <span>Kategori: {{ post.category }}, {{ post.subCategory }}</span>
    <span>Upplagt: {{ post.currentDate }}</span>
  </section>

  <section class="felx felx-col text-white text-center">
    <commentsection
      [addNewComment]="newComment"
      (Comment)="addComment()"
      [post]="post"
      (like)="like()"
      (disLike)="disLike()"
    ></commentsection>
    <app-button
    (onclick)="navigateHome()">
      Back To Home
    </app-button>
   
  </section>
</main>
<div *ngIf="!post">Post was not found!</div>
