
<like-btns [post]="post" (like)="this.like.emit()" (disLike)="this.disLike.emit()" ></like-btns>
<section class="flex flex-col gap-2">
  <label for=""> Skriv gärna en kommentar</label>
  <input
    type="text"
    name="newComment"
    placeholder="kommentar"
    required
    
    [(ngModel)]="addNewComment"
    class="required:border-red-500 p-2 text-black"
  />
  <app-button (onclick)="$event.preventDefault();addComment(addNewComment)">lägg till</app-button>
</section>
<app-render-comments [post]="post"></app-render-comments>
