<header class="bg-emerald-700 flex justify-between text-white items-center">
  <app-loga ></app-loga>
<!-- (onclick)="navigateHome()" -->
  <nav class="flex">
    <ul class="flex space-x-3.5 text-center">
      <li
        class="text-xl p-5 cursor-pointer hover:scale-125 ease-out duration-300"
        routerLink=""
      >
        Home
      </li>
      <li
        class="text-xl p-5 cursor-pointer hover:scale-125 ease-out duration-300"
        routerLink="/about"
      >
        About
      </li>
      <li
        class="text-xl p-5 cursor-pointer hover:scale-125 ease-out duration-300"
        routerLink="/blogs"
      >
        Blogs
      </li>
      <li
        *ngIf="hide == true"
        class="text-xl p-5 cursor-pointer"
        routerLink="/addpost"
      >
        Add Post
      </li>
    </ul>
  </nav>
  <button
    class="justify-end items-end"
    (click)="changeToAdmin()"
    *ngIf="hide == false; else userPage"
  >
    <span>Admin page</span>
    <mat-icon>receipt</mat-icon>
  </button>

  <ng-template #userPage>
    <button (click)="changeToAdmin()">
      User page <mat-icon>receipt</mat-icon>
    </button></ng-template
  >
</header>
