<main class="flex flex-col justify-center items-center">
   <section class="bg-white  w-4/5" >
    <article class="flex flex-col justify-center items-center mt-4 ">
        <h2 class="mt-3">Välkommen till en mat blogg full av... </h2>
       <h1 class="text-2xl font-medium mt-2">Healthy Food</h1>
       <app-loga [size]="'m'" class="hover:scale-125 ease-in-out duration-300"></app-loga>
       <p class="text-center p-5 ">
       Kul att du tittar in  på Healthy Food! Hoppas på att kunna inspirera till en mer hälsosam vardag med hälsosamma , goda och närings enliga mat recept. 
       Blandar så klart nytta med nöje och finns även en kategori med recpet på goda bak verk. Vi kallar det fika för själen. 
       Kolla in recept, laga god mat och kommentera gärna hur det gått! Lycka till i köket och glöm inte bort att dela med dig av en goda maten! 
      </p>
    </article>
    <div class="text-xl p-10 border-black-500 border-solid border-y-2 text-center">Mina favorit recept!</div>
    <app-render-blogs class="mb-10"></app-render-blogs>
    <app-form></app-form>
   <span class="text-center p-5">{{ date }} {{ time }}</span> 
  </section> 

</main>
